<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vishutdhar.usagewidget.agent</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/Usage Widget</string>
	<key>ProgramArguments</key>
	<array>
		<string>Usage Widget</string>
		<string>--launched-by-launchd</string>
	</array>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.vishutdhar.usagewidget</string>
	</array>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
</dict>
</plist>
